@page "/todo"

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <input type="checkbox" @bind="todo.IsDone" />
        <input @bind="todo.Title" />
    }
</ul>

<input placeholder="Something todo" @bind="newToDo"/>
<button @onclick="AddToDo">Add todo</button>

@code {
    private IList<ToDoItem> todos = new List<ToDoItem>();
    private string newToDo = string.Empty;

    private void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(newToDo))
        {
            todos.Add(new ToDoItem { Title = newToDo });
            newToDo = string.Empty;
        }
    }
}
